{% extends 'LibraryIndex.html' %}

{% block content %}
    <a href="{% url 'book_add' %}" class="btn btn-success">添加</a>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>书名</th>
            <th>价格</th>
            <th>出版日期</th>
            <th>出版社</th>
            <th>作者</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for book_obj in book_queryset %}
            <tr>
                <td>{{ book_obj.pk }}</td>
                <td>{{ book_obj.title }}</td>
                <td>{{ book_obj.price }}</td>
                <td>{{ book_obj.publish_date|date:'Y-m-d' }}</td>
                <td>{{ book_obj.publish.name }}</td>
                <td>
                    {% for author in book_obj.authors.all %}
                        {% if forloop.last %}
                            {{ author.name }}
                        {% else %}
                            {{ author.name }},
                        {% endif %}
                    {% endfor %}

                </td>
                <td>
                    <a href="{% url 'book_edit' book_obj.pk %}" class="btn btn-primary btn-sm">编辑</a>
                    <a href="{% url 'book_delete' book_obj.pk %}" class="btn btn-danger btn-sm del"
                       delete_id="{{ book_obj.pk }}">删除</a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
        {{ page_obj.page_html|safe }}
    </table>
{% endblock %}

{% block js %}
    <script>
        $('.del').on('click', function () {
            {#alert($(this).attr('delete_id'));#}
            let currentBtn = $(this);
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: '确定?',
                text: "删了就没了!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: '删!',
                cancelButtonText: '不删了!',
                reverseButtons: true,
                showLoaderOnConfirm: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // 发 ajax 请求 删除
                    $.ajax({
                        url: '/book/delete/',
                        type: 'post',
                        data: {'delete_id': currentBtn.attr('delete_id')},
                        success: function (args) {
                            if (args.code === 100) {
                                swalWithBootstrapButtons.fire(
                                    '删了!',
                                    args.msg,
                                    'success'
                                );
                                //利用dom操作 删除这一行
                                currentBtn.parent().parent().remove()

                            } else {
                                swalWithBootstrapButtons.fire(
                                    '删除失败!',
                                    args.msg,
                                    'info'
                                )
                            }
                        }
                    })

                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        '取消了',
                        '安全了 :)',
                        'error'
                    )
                }
            })
        })
    </script>
{% endblock %}