<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">#}
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
{#    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>#}
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.3.0-alpha1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <title>Register</title>
</head>
<body>
    <h1 class="text-center">注册</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <form action="" method="post">
                    <p>username:<input type="text" name="username" class="form-control"></p>
                    <p>passwort:<input type="password" name="password" class="form-control"></p>
                    <p>confirm passwort:<input type="password" name="confirmpassword" class="form-control"></p>
                    <input type="submit" class="btn btn-success block">
                </form>
            </div>
        </div>
    </div>
</body>
</html>